{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Reset your password{% endblock %}

    {% block titleContent %}
        <header class="major">
            <h2>{% apply loginTitle_content %}Login{% endapply %}</h2>
        </header>
    {% endblock %}

    {% block formGoods %}

        <footer>
            {{ form_start(resetForm) }}
            <ul class="actions">
                <li>
                    {{ form_widget(resetForm.plainPassword, {'attr':{'placeholder': 'New Password'}}) }}
                </li>

                <li>
                    <button type="submit" class="button large">Submit</button>
                </li>
            </ul>
            {{ form_end(resetForm) }}
    {% endblock %}
