{% extends 'base.html.twig' %}


{% block recentPosts %}
    <div class="wrapper style3">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-8 col-12-medium">


                        <!-- Article list -->
                        <section class="box article-list">
                            <h2 class="icon fa-file-alt">
                                Recent Posts
                            </h2>
                            {{ component('recentposts') }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
